<div class="oa-overlay overlay"
     ng-show="waiting">
  <div class="oa-overlay-content overlay-content">
    <i class="fa fa-4x fa-spinner fa-spin"></i>
  </div>
</div>

<div class="openattic-modal-header">
  <span ng-show="task">Delete task</span>
  <span ng-show="!task && tasks">Delete tasks</span>
</div>

<form name="deleteForm"
      role="form"
      novalidate>
  <div class="openattic-modal-content">
    <div ng-hide="waiting || pendingDeletionFailure.length > 0">
      <p ng-show="tasks.length === 1 && !waiting"
         class="tc_delete_one">
        You are about to delete
        <strong>{{tasks[0].description}}</strong> task which is
        <strong>{{tasks[0].status | lowercase}}</strong>
        and was last modified on {{tasks[0].last_modified | date:'medium'}}.
      </p>
      <p ng-show="tasks.length > 1"
         class="tc_delete_multiple">
        You are about to delete {{::tasks.length}} tasks.
      </p>
      <p class="text-danger tc-run-warn"
         ng-show="isPendingTask(tasks[0])">
        If you delete running tasks, it will abort the execution and won't roll back what has been done so far!
      </p>
      <div ng-show="tasks.length > 1">
        <uib-accordion class="tc-tasks-to-delete">
          <div ng-hide="waiting"
               uib-accordion-group
               class="panel-default modal-scroll"
               is-open="status.open">
            <uib-accordion-heading>
              Tasks to delete ({{::tasks.length}})
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
              <li ng-repeat="task in tasks track by task.id">
                {{task.description}} ({{task.status}}, {{task.last_modified | date:'medium'}})
              </li>
            </ul>
          </div>
        </uib-accordion>
      </div>
    </div>

    <div ng-show="waiting">
      <p>Processing deletion requests: {{finishedTasks}} of {{tasks.length}}</p>
      <p class="text-warning"
         ng-show="pendingDeletionFailure.length > 0">
        Couldn't delete {{pendingDeletionFailure.length}} task{{pendingDeletionFailure.length === 1 ? '' : 's'}}.</p>
    </div>

    <div ng-show="!waiting && pendingDeletionFailure.length > 0">
      <uib-accordion class="tc-moved-tasks">
        <div ng-hide="waiting"
             uib-accordion-group
             class="panel-warning modal-scroll"
             is-open="true">
          <uib-accordion-heading>
            Couldn't delete the following {{pendingDeletionFailure.length}} Tasks
          </uib-accordion-heading>
          <ul>
            <li ng-repeat="moved in pendingDeletionFailure track by moved[0].id">
              {{moved[0].description}} changed from {{moved[0].status}} to
              <span ng-class="{'text-danger': moved[1].status === 'Exception', 'text-success': moved[1].status === 'Finished'}"
                    ng-bind="moved[1].status"></span>
            </li>
          </ul>
        </div>
      </uib-accordion>
    </div>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right"
         ng-hide="waiting || pendingDeletionFailure.length > 0">
      <button class="btn btn-primary btn-sm tc-tab-del-confirm"
              ng-click="deleteTasks(tasks.entries())"
              ng-disabled="deleteForm.$invalid">
        Delete
      </button>
      <button class="btn btn-link btn-sm tc-tab-del-cancel"
              ng-click="cancel()">Cancel</button>
    </div>
    <div class="button-group text-right"
         ng-show="waiting || pendingDeletionFailure.length > 0">
      <button class="btn btn-primary btn-sm tc-tab-del-close"
              ng-click="closeWithWarnings()">Close</button>
    </div>
  </div>
</form>
