<oa-ceph-cluster-loader on-cluster-load="$ctrl.onClusterLoad(cluster)">
  <oa-module-loader module="ceph">

    <oa-loading-panel message="Ceph RBDs are loading..."
                      ng-show="!$ctrl.error && !$ctrl.rbd.$resolved">
    </oa-loading-panel>
    <oa-error-panel ng-if="$ctrl.error">
      Ceph RBD resources could not be loaded.
    </oa-error-panel>

    <oadatatable ng-show="!$ctrl.error && $ctrl.rbd.results"
                 data="$ctrl.rbd"
                 class="oadatatable tc_cephRbdTable"
                 filter-config="$ctrl.filterConfig"
                 selection="$ctrl.selection"
                 on-selection-change="$ctrl.onSelectionChange(selection)">
      <actions>
        <a class="btn btn-sm btn-primary tc_add_btn"
           type="button"
           ng-click="$ctrl.addAction()"
           ng-hide="$ctrl.hasSelection || $ctrl.multiSelection">
          <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_delete_btn"
           type="button"
           ng-click="$ctrl.deleteAction()"
           ng-show="$ctrl.hasSelection || $ctrl.multiSelection">
          <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
          <a ng-click="$ctrl.addAction()">
            <i class="fa fa-fw fa-plus"></i>Add
          </a>
        </li>
        <li class="tc_deleteItem"
            ng-click="$ctrl.deleteAction()"
            ng-class="{disabled: !$ctrl.hasSelection && !$ctrl.multiSelection}">
          <a>
            <i class="fa fa-fw fa-trash-o"></i>Delete
          </a>
        </li>
      </actions>
      <table class="table table-striped table-bordered table-hover dataTable datatable">
        <thead>
          <tr>
            <th class="oadatatablecheckbox"
                ng-if="selection.available">
              <input type="checkbox"
                     ng-model="selection.checkAll">
            </th>
            <th ng-show="columns['Name']"
                sortfield="name"
                sortdir="asc"
                sortheaderclass
                sortdefault>Name</th>
            <th sortfield="id"
                sortdir="asc"
                sortheaderclass
                ng-show="columns['Poolname']">Poolname</th>
            <th sortfield="size"
                sortdir="asc"
                sortheaderclass
                ng-show="columns['Size']">Size</th>
            <th sortfield="used_size"
                sortdir="asc"
                sortheaderclass
                ng-show="columns['Used']">Used</th>
            <!-- The data pool column is only sorted by it's pool id -->
            <th sortfield="data_pool"
                sortdir="asc"
                sortheaderclass
                disabled
                ng-show="columns['Data-pool']">Data-pool</th>
            <th sortfield="obj_size"
                sortdir="asc"
                sortheaderclass
                disabled
                ng-show="columns['Object size']">Object size</th>
            <th sortfield="num_objs"
                sortdir="asc"
                sortheaderclass
                disabled
                ng-show="columns['Number of objects']">Number of objects</th>
            <th sortfield="stripe_unit"
                sortdir="asc"
                sortheaderclass
                disabled
                ng-show="columns['Stripe unit']">Stripe unit</th>
            <th sortfield="stripe_count"
                sortdir="asc"
                sortheaderclass
                disabled
                ng-show="columns['Stripe count']">Stripe count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in data.results"
              ng-class="{ info: isRowSelected(row) }"
              class="clickable"
              ng-click="toggleSelection(row, $event)">
            <td ng-if="selection.available">
              <input type="checkbox"
                     checklist-model="selection.items"
                     checklist-value="row">
            </td>
            <td ng-show="columns['Name']"
                ng-bind="row.name"></td>
            <td ng-show="columns['Poolname']"
                ng-bind="row.pool.name"></td>
            <td ng-show="columns['Size']"
                ng-bind="row.size | bytes"></td>
            <td ng-show="columns['Used']">
              <div class="progress oaprogress"
                   ng-show="row.used_size !== null"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="Used: {{row.used_size | bytes}} &mdash; Free: {{row.free | bytes}}">
                <div class="progress-bar"
                     role="progressbar"
                     aria-valuenow="{{row.usedPercent}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{row.usedPercent}}%">
                  <span>{{row.usedPercent | number:2}}%</span>
                </div>
                <div class="progress-bar progress-bar-freespace"
                     role="progressbar"
                     aria-valuenow="{{row.freePercent}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{row.freePercent}}%">
                </div>
              </div>
              <div class="text-muted text-center"
                   ng-show="row.used_size === null">
                Not available
              </div>
            </td>
            <td ng-show="columns['Data-pool']"
                ng-bind="row.data_pool.name"></td>
            <td ng-show="columns['Object size']"
                ng-bind="row.obj_size | bytes"></td>
            <td ng-show="columns['Number of objects']"
                ng-bind="row.num_objs"></td>
            <td ng-show="columns['Stripe unit']"
                ng-bind="row.stripe_unit | bytes"></td>
            <td ng-show="columns['Stripe count']"
                ng-bind="row.stripe_count"></td>
          </tr>
        </tbody>
      </table>
    </oadatatable>
    <div id="more"
         ui-view="tab"
         tab-data="$ctrl.tabData"
         tab-config="$ctrl.tabConfig"
         selection="$ctrl.selection">
    </div>

  </oa-module-loader>
</oa-ceph-cluster-loader>
