<nav class="navbar navbar-default navbar-openattic">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header tc_logo_component">
    <a class="navbar-brand"
       href="#">
      <img src="images/openattic_brand_bright.png"
           alt="openATTIC">
    </a>
    <!--<a class="navbar-brand" href="#">openATTIC storage management framework</a>-->

    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_dashboard">
        <a data-ui-sref="dashboard"
           title="Dashboard">Dashboard</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_osds">
        <a data-ui-sref="cephOsds">OSDs</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_rbds">
        <a data-ui-sref="cephRbds">RBDs</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_pools">
        <a data-ui-sref="cephPools">Pools</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_nodes">
        <a data-ui-sref="cephNodes">Nodes</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_iscsi">
        <a data-ui-sref="cephIscsi">iSCSI</a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_nfs">
        <a data-ui-sref="cephNfs">NFS</a>
      </li>
      <li class="dropdown tc_menuitem tc_menuitem_ceph_rgw">
        <a href=""
           class="dropdown-toggle"
           data-toggle="dropdown">Object Gateway
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_ceph_rgw_users">
            <a data-ui-sref="ceph-rgw-users">Users</a>
          </li>
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_ceph_rgw_buckets">
            <a data-ui-sref="ceph-rgw-buckets">Buckets</a>
          </li>
        </ul>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_crushmap">
        <a data-ui-sref="crushmap">CRUSH Map</a>
      </li>
      <li class="dropdown tc_menuitem tc_menuitem_system">
        <a href=""
           class="dropdown-toggle"
           data-toggle="dropdown">System
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_system_users">
            <a data-ui-sref="users">Users</a>
          </li>
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_system_settings">
            <a data-ui-sref="settings">Settings</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-primary -->

    <ul class="nav navbar-nav navbar-utility">
      <li oa-notifications
          class="dropdown dropdown-notifications"></li>
      <li oa-task-queue></li>
      <li userinfo></li>
      <li api-recorder
          class="tc_api-recorder"></li>
      <li logout
          class="tc_logout"></li>
    </ul>
    <!-- /.navbar-utility -->
  </div>
  <!-- /.navbar-collapse -->
</nav>
