<oa-module-loader module="ceph_radosgw">

<oa-loading-panel message="Object Gateway buckets are loading..."
                  ng-show="!$ctrl.error && !$ctrl.buckets.results">
</oa-loading-panel>
<oa-error-panel ng-if="$ctrl.error">
    The list of buckets could not be loaded.
</oa-error-panel>

<oadatatable ng-show="!$ctrl.error && $ctrl.buckets.results"
             class="oadatatable tc_oadatatable_buckets"
             data="$ctrl.buckets"
             filter-config="$ctrl.filterConfig"
             selection="$ctrl.selection"
             on-selection-change="$ctrl.onSelectionChange(selection)">
    <actions>
        <a class="btn btn-sm btn-primary tc_addBucket"
           type="button"
           ng-click="$ctrl.addAction()"
           ng-hide="$ctrl.hasSelection || $ctrl.multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_editBucket"
           type="button"
           ng-click="$ctrl.editAction()"
           ng-show="$ctrl.hasSelection">
            <i class="fa fa-fw fa-pencil"></i>Edit
        </a>
        <a class="btn btn-sm btn-primary tc_deleteBucket"
           type="button"
           ng-click="$ctrl.deleteAction()"
           ng-show="$ctrl.multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="$ctrl.addAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="tc_editBucket"
            ng-class="{disabled: !$ctrl.hasSelection}">
            <a ng-click="$ctrl.editAction()">
                <i class="fa fa-fw fa-pencil"></i>Edit
            </a>
        </li>
        <li class="divider"></li>
        <li class="tc_deleteItem"
            ng-class="{disabled: !$ctrl.hasSelection && !$ctrl.multiSelection}">
            <a ng-click="$ctrl.deleteAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox"
                    ng-if="selection.available">
                    <input type="checkbox"
                           ng-model="selection.checkAll">
                </th>
                <th sortfield="bucket"
                    sortheaderclass
                    ng-show="columns['Name']"
                    sortdir="ASC">Name</th>
                <th sortfield="owner"
                    sortheaderclass
                    ng-show="columns['Owner']">Owner</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results"
                ng-class="{info: isRowSelected(row)}"
                class="clickable"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox"
                           checklist-model="selection.items" checklist-value="row">
                </td>
                <td ng-show="columns['Name']">
                    <a ui-sref="ceph-rgw-bucket-edit({bucket:row.bucket})"
                       ng-bind="row.bucket"></a>
                </td>
                <td ng-show="columns['Owner']">
                    <a ui-sref="ceph-rgw-user-edit({user_id:row.owner})"
                       ng-bind="row.owner"></a>
                </td>
            </tr>
        </tbody>
    </table>
</oadatatable>

<div id="more"
     ui-view="tab"
     tab-data="$ctrl.tabData"
     tab-config="$ctrl.tabConfig"
     selection="$ctrl.selection">
</div>

</oa-module-loader>
